
<center>

<h1>Listing Tasks</h1>

<div>
  <fieldset style="width:1000px">
    <legend>Existing Tasks:</legend>


<%= will_paginate @tasks %>
<table class="table table-striped">
  <tr>
    <th>Task Name</th><th></th><th></th>
    <th>Project Name</th><th></th><th></th>
    <th>Priority</th><th></th><th></th>
    <th>Assigned To</th><th></th><th></th>
    <th>Allocated Hours</th><th></th><th></th>
    <th></th><th></th><th></th>
    <th></th><th></th><th></th>
    <th></th><th></th>
  </tr>


    <%= render partial: "tasks", collection: @tasks %>
</table>
<%= will_paginate @tasks %>
</fieldset>
<p>
  Download:
  <%= link_to "CSV", tasks_path(format: "csv") %> |
  <%= link_to "Excel", tasks_path(format: "xls") %>
</p>
</div>
</center>

