<!DOCTYPE html>
<html>
<head>
  <title>TaskMgrApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<a href="https://github.com/ashiksp/TaskMgrApp/forkme" class="classic_ribbon---top--right-green"> fork me on github </a>
<center>
<h1 id="header">Task Manager Application</h1>
</center>

<p class="navbar-text pull-right">
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>

<center>
<% if notice %>
  <p class="alert alert-notice"><%= notice %></p>
<% end %>
</center>


<ul class="nav">
  <li class="active"><a href="/welcome/index">Home</a></li>
  <li class="active"><a href="/tasks/new">Create Task</a></li>
</ul>

<%= yield %>
<center>
<% if alert %>
  <p class="alert alert-error"><%= alert %></p>
<% end %>
</center>

<br /><br /><br />
<br /><br /><br />
<br /><br /><br />
<div class='footer'>
      <div class='footerContent'>
        Visit us at <a href='http://www.tcs.com'>http://www.tcs.com</a>.
      </div>
</div
</body>
</html>
