<!DOCTYPE html>
<html>
<head>
  <title>TaskMgrApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<a href="https://github.com/ashiksp/TaskMgrApp" class="classic_ribbon---top--right-green"> fork us on github </a>

<div class="page-header">
    <center>
    <h1>Task Manager Application <small>Web Solution</small></h1>
  </center>
</div>

    <ul class="nav nav-pills pull-right">
      
    <% if user_signed_in? %>
    Logged in as <strong><%= current_user.email %></strong>. |
    <%= link_to 'Change Password', edit_user_registration_path %> |
    <%= link_to "Logout", destroy_user_session_path, method: :delete  %> &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
    <% else %>
    <%= link_to "Sign up", new_user_registration_path  %> |
    <%= link_to "Login", new_user_session_path  %> &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
    <% end %>
    </ul>

    <ul class="nav nav-pills">
    <li class="active"><a href="/welcome/index"><i class="icon-home icon-white"></i> Home</a>


    </li>
    <li><a href="/tasks"><i class="icon-book"></i> View All Tasks</a></li>
    <li><a href="/tasks/new"><i class="icon-pencil"></i> Create New Task</a></li>
    
    </ul>

<center>
<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>
</center>
<center>
<% if alert %>
  <p class="alert alert-error"><%= alert %></p>
<% end %>
</center>



<%= yield %>


<br /><br /><br />
<br /><br />
<div class='page-footer'>
      
        <center>
        Visit us at <a href='http://www.tcs.com'>http://www.tcs.com</a>.
        </center>
     
</div>
</body>
</html>
